body{
    background:   url("https://i.pinimg.com/originals/71/ea/bd/71eabd1fecc992073751bb42a205144f.gif") no-repeat;
    background-size: 100%;
    user-select: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: rgb(174, 204, 165);
    padding: 4px;
    border-radius: 8px;
    max-width: 360px;
    font-family: "Tahoma";
}
.item{
    
    background: url("https://i.gifer.com/origin/de/dee3efaa9b4a73ad203f68a821110de9_w200.webp");
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
}
form{
    max-width: 99%;
}
input{
    width: 100%;
    height: 60px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
}
.input{
    grid-column: 1/-1;
    padding: 0;
}
.clean{
    grid-column: 1/3;
    background: url("https://i.gifer.com/origin/b4/b46561f0b395a1d7b4b74b96c7df10b2_w200.webp");
    background-position: center;
}
.back{
    grid-column: 3/-1;
}
.equal{
    grid-column: 4;
    grid-row: 6/8;
    background: url("https://i.gifer.com/origin/93/935d72c7bc35828ea93b5898691f28fd_w200.webp");
    background-position: center;    
}
.zero{
    grid-column: 1/3 ;
}
